<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link th:href="@{semantic/semantic.min.css}" rel="stylesheet" />

<script type="text/javascript" th:src="@{scripts/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{semantic/semantic.min.js}"></script>

<title>用户列表</title>
</head>
<body>
	<div class="container">
	<br/>
		<table class="ui celled table">
			<tr>
				<th>用户名</th>
				<th>手机号</th>
				<th>邮箱</th>
				<th>姓名</th>
			</tr>
			<tr th:each="us : ${userList}">
				<td th:text="${us.username}">用户名</td>
				<td th:text="${us.mobile}">手机号</td>
				<td th:text="${us.email}">邮箱</td>
				<td th:text="${us.realname}"></td>
			</tr>
		</table>
	</div>
</body>
</html>